<div id="breadcrumb" class="d-flex justify-content-end mr-3"></div>
<div class="container-fluid" id="crag">
    <div class="card">
        <h3 class="card-header" id="name"></h3>
        <div class="row pr-3 pl-3">
            <div id="info" class="col-md m-3 p-0">
                <span id="description"></span>
                <div id="summary" class="mt-3">
                    <h5>Grade Summary</h5>
                    <template id="gradesummary">
                        <span id="summaryname"></span>
                        <div class="progress mb-1">
                            <div id="green" class="progress-bar bg-success" role="progressbar"></div>
                            <div id="amber" class="progress-bar bg-warning" role="progressbar"></div>
                            <div id="red" class="progress-bar bg-danger" role="progressbar"></div>
                            <div id="black" class="progress-bar bg-dark" role="progressbar"></div>
                        </div>
                    </template>
                </div>
                <div class="card mt-3" role="button" data-toggle="collapse" data-target="#approach" aria-controls="approach" aria-expanded="false">
					<div class="card-header">Approach</div>
					<div id="approach" class="card-body collapse"></div>
				</div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#access" aria-controls="access" aria-expanded="false">
					<div class="card-header">Access</div>
					<div id="access" class="card-body collapse"></div>
                </div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#policy" aria-controls="policy" aria-expanded="false">
					<div class="card-header">Fixed Gear Policy</div>
					<div id="policy" class="card-body collapse"></div>
				</div>
            </div>
            <div id="map" class="col-md m-3 p-0" style="min-height: 250px; max-height: 500px"></div>
        </div>
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-md m-3 p-0">
                <h5>Routes</h5>
                <div id="filter" class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                      <input type="radio" name="options" id="all" checked> All
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="options" id="trad"> Trad
                      </label>
                    <label class="btn btn-success btn-sm">
                      <input type="radio" name="options" id="boulder"> Boulder
                    </label>
                    <label class="btn btn-warning btn-sm">
                      <input type="radio" name="options" id="sport"> Sport
                    </label>
                </div>
                <div class="table-responsive">
                    <table id="routes" class="table table-sm table-striped container-fluid">
                        <thead class="thead-light">
                            <th id="th_icon"></th>
                            <th id="th_name">Name</th>
                            <th id="th_grade">Grade</th>
                            <th id="th_length">Length</th>
                            <th id="th_sector">Sector</th>
                        </thead>
                        <template id="routerows">
                            <tr role="button">
                            </tr>
                            <tr id="" class="table-light collapse"></tr>
                        </template>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
