<div id="breadcrumb" class="d-flex justify-content-end mr-3"></div>
<div class="container-fluid" id="guides">
    <h3>Guides</h3>
        <div id="list" class="col-md p-0">
            
            <template id="guidetemplate">
                <div id="guide" class="card p-3 mt-3">
                    <div class="row">
                        <div class="col p-3">
                            <img id="cover" style="max-width: 200px; display: block; margin: auto" src="">
                        </div>
                        <div class="col p-3 text-center">
                            <h5 id="name"></h5>
                            <p id="subtitle"></p>
                        </div>
                    </div>
                </div>
            </template>
        
        </div>
</div>
