<div id="breadcrumb" class="d-flex justify-content-end mr-3"></div>
<div class="container-fluid" id="guide">
    <div class="card">
        <h3 class="card-header" id="name"></h3>
        <div class="row p-3">
            <div class="col-md">
                <p id="subtitle"></p>
                <p id="author"></p>
                <p id="publishdate"></p>
            </div>
			<div class="col-md m-3 p-0">
				<img id="cover" style="min-height: 250px; display: block; margin: auto;"></img>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="contents" class="col-md m-3 p-0">
                <div class="card" role="button" data-toggle="collapse" data-target="#introduction" aria-controls="introduction" aria-expanded="false">
					<div class="card-header">Introduction</div>
					<div id="introduction" class="card-body collapse"></div>
				</div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#historical" aria-controls="historical" aria-expanded="false">
					<div class="card-header">History</div>
					<div id="historical" class="card-body collapse"></div>
				</div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#grades" aria-controls="grades" aria-expanded="false">
					<div class="card-header">Grades</div>
					<div id="grades" class="card-body collapse"></div>
				</div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#access" aria-controls="access" aria-expanded="false">
					<div class="card-header">Access</div>
					<div id="access" class="card-body collapse"></div>
				</div>
                <div class="card mt-1" role="button" data-toggle="collapse" data-target="#ethics" aria-controls="ethics" aria-expanded="false">
					<div class="card-header">Ethics</div>
					<div id="ethics" class="card-body collapse"></div>
				</div>
            </div>
    </div>
    <div class="row">
        <div class="col-md m-3 p-0">
            <h5>Crags</h5>
            <ul id="list" class="list-group list-group-flash"></ul>
        </div>
    </div>
</div>
